.registerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 85%;
    height: 269px;
    background: #DFDFDF;
    box-shadow: 4px 4px 4px rgba(176, 176, 176, 0.25);
    border-radius: 16px;
}

.courseGrad {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    background: linear-gradient(90deg, #DC7F12 76.25%, #FF0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.reg {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #393939;
}

.topForm {
    margin-top: 23px;
    text-align: center;
}

.prize {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background: linear-gradient(90deg, #D96902 0%, #EE0202 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.inputForm {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    background: #D9D9D9;
    border: 1px solid #5E5E5E;
    border-radius: 7px;
}

input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8A8A8A;
    padding: 12px;
}

.btnRegisterInner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 209px;
    height: 40px;
    background: linear-gradient(90deg, #FFAB47 0%, #FD2020 100%);
    border-radius: 7px;
}

.btnReg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    border: none;
    background-color: transparent;
}

.btnReg a {
    text-decoration: none;
}

.btnReg h5 {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #E9E9E9;
}