.socNet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.socNet a {}

.socNet img {
    width: 41px;
    height: 41px;
    margin: 15px;
}

.footer {
    /* Стили для футера */
}