.topText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topText h5 {
    color: #C8C8C8;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.topText h1 {
    background: linear-gradient(45deg, #FF2323 0%, #B2A3A3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff7e5f;
    font-weight: 800;
    font-size: 37px;
    margin: 0;
}